#project-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  column-gap: 20px;
  border: 2px solid purple;
  row-gap: 10px;
  
}

#header {
  display: flex;
  justify-content: space-between;
}

html {
  padding: 30px;
}