a:link {
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* border: 2px solid red; */
}
  
.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.7vw;
    margin-bottom: 5px;
    color: #A571AF;
    font-size: 1.05em;
    /* border: 2px solid orange; */
}

.nav-link:hover {
    color: #34AABF;
    /* background-color: rgba(255,255,255, .3); */
}








